= month_calendar events: @orders do |date, orders|
  = date
  = link_to 'See orders', showdate_admin_orders_path(date: date), :class => 'btn btn-default'
    - orders.each do |order|
    %div
      = order.user.name
